.item {
    width: 380px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgba(250, 248, 248, 0.4);
    box-shadow: 2px 5px 2px 2px rgba(150, 150, 150, 0.3);
}

.item:hover {
    box-shadow: 2px 5px 2px 2px rgba(249, 192, 79, 0.3);
}

.avatar {
    width: 60px;
    height: auto;
}

.name {
    font-size: 28px;
    font-weight: 600;
    margin-left: 20px;
}

.online_status, .offline_status {
width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    margin-right: 20px;
}

.offline_status {
    background-color: red;
}