.statistics {
    background-color: rgb(195, 232, 234);
    padding: 0;
    text-align: center;
}

.title {
    font-size: 28px;
    font-weight: 800;
}

.statlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px -10px 10px 0px rgba(54, 54, 54, 0.4);
}

.item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.label {
    font-size: 20px;
    margin-bottom: 5px;
}

.percantage {
    font-size: 28px;
    font-weight: 400;
}